.subject-input
  width: 200px
  display: inline

.subject-input-con 
  display: inline
  vertical-align: center

  h2
    display: inline

.alert-info
  position: fixed
  width: 50%
  left: 50%
  transform: translateX(-50%)
  text-align: center
  bottom: 20px

table
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button 
    -webkit-appearance: none
    margin: 0
  

  /* Firefox */
  input[type=number] 
    -moz-appearance: textfield
  
  .grade-is-valid
    border-color: #28a745 !important

  .add-col:hover
    cursor: pointer 
    .close
      opacity: 0.75

mark
  cursor: pointer

.alert-info
  width: 90%
  padding-right: 1rem
  padding-top: 2rem
.title
  font-size: 1.5rem


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) 
  .title
    font-size: 2.5rem
  .alert-info
    width: 50%
    padding-right: 4rem

