<form [formGroup]="form" class="container">
  <div class="row title justify-content-center mt-4 text-center">
    TUM Eignungsfeststellungsverfahren Rechner</div>
  <div class="row  justify-content-center mb-4 text-center">
    <p class="col-md-10 col-sm-12 text-muted">
    Die Technische Universität München benutzt in der ersten Stufe ihres Eignungsfeststellungsverfahrens ein Punktesystem (0-100), in das alle Noten umgewandelt und dann gewichtet werden. <br>
      Erreicht man in diesem Schritt eine bestimmte Punktzahl ({{ selectedSubject.passingScore }} Punkte für {{ selectedSubject.name }}), muss man nicht in die zweite Stufe. Dieses Tool hilft dir deine Punkte auszurechnen.
    </p>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="form-group subject-input-con">
      <span class="m-0">Fach: </span>

      <select formControlName="selectedSubject" class="form-control m-2 subject-input">
        <option *ngFor="let subject of subjects" [ngValue]="subject">
          {{ subject.name }}
        </option>
      </select>
      <a *ngIf="selectedSubject?.src" class="small m-1" target="_blank" [href]="selectedSubject?.src">Quelle</a>
      <a *ngIf="selectedSubject?.pdfSrc" class="small m-1" [href]="selectedSubject?.pdfSrc">PDF</a>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="form-group row align-content-center col-12 col-md-8">
      <label for="gpa-input" class="col-5 col-md-3 col-form-label">
        Abi durchschnitt* 
      </label>

      <div class="col-4 col-md-7">
        <input type="text" formControlName="gpa" class="form-control"
          id="gpa-input" required 
          [class.is-invalid]="form.controls.gpa.invalid 
            && form.controls.gpa.dirty" 
          [class.is-valid]="form.controls.gpa.valid
            && form.controls.gpa.dirty">

        <small class="form-text text-muted">
          Note mit einer Nachkommastelle z.B. {{ randomGPA }}  
        </small>
      </div>
      <div [style.display]="gpaPoints ? 'initial' : 'none'" class="col-3 col-md-2 col-form-label">
        <mark placement="top" [ngbTooltip]="this.pointsFormula(gpa, GRADES)">{{ gpaPoints | number }} Punkte</mark>
      </div> 
    </div>
  </div>

  <div class="row justify-content-center">
    <table formGroupName="grades" class="table table-striped w-100 col-12 col-md-8">
      <thead>
      <tr>
        <th scope="col" class="align-baseline">Fach</th>
        <th scope="col" class="align-baseline">
          Beste Note der letzten 4. HJ <br>
          <small class="text-muted">in Notenpunkten</small>
        </th>
        <th scope="col" class="align-baseline">
          <span class="d-none-md">Gewicht</span>
          <span class="d-none d-inline-md">Gewichtung</span>
        </th>
        <th scope="col" class="align-baseline" placement="top" 
                        ngbTooltip="Note in TUM Punkten mal Gewichtungsfaktor">
          Punkte <br> 
          <small class="text-muted"> in Punkten</small>
        </th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let class of form.value.selectedSubject.classes; index as i">
          <td class="align-middle">{{ class.name }}</td>
          <td class="align-middle">
            <input [formControlName]="classFormGroupName(class.name, i)" 
              class="form-control col-6 p-2" *ngVar="getGradeControl(class.name, i) as input"
              [class.is-invalid]="input?.invalid"
              [class.grade-is-valid]="input?.valid && input.value"
              type="string">
          </td>
          <td class="align-middle">x{{ class.factor }}</td>
          <td class="align-middle" >
            <span *ngIf="getGradeControl(class.name, i)?.valid && classPoints(class.name, i)"
             [ngbTooltip]="getGradeInput(class.name, i) == null ? undefined :
              classPointsFormula(getGradeInput(class.name, i), class.factor)">
              {{ classPoints(class.name, i) | number }}
            </span>
          </td>
        </tr>
        <tr>
          <td colspan="3" class="text-right align-middle font-weight-bold">
            Gewichteter Durchschnitt:
          </td>
          <td>
            <mark *ngIf="gradesInputArray.length" [ngbTooltip]="weightedSpFormula()">
              {{ weightedSchoolPoints }}
            </mark>
            <mark *ngIf="!gradesInputArray.length">
              {{ weightedSchoolPoints }} Punkte
            </mark>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="form.valid" class="row card m-md-0 m-1 mb-4 ">
    <div class="card-body">
      <div class="row justify-content-center lead">
        <span class="p-1 text-center">Deine Punkte: <br> 
          0.65 * <mark>{{ gpaPoints }}</mark> + 0.35 * <mark>{{ weightedSchoolPoints }}</mark>
          = {{ totalPoints }} Punkte
        </span>
      </div>
      <div class="row lead justify-content-center text-center mt-4">
        <span *ngIf="passingBySubjects" 
           [class.text-success]="passingByScore"
           [class.text-danger]="!passingByScore">
          Mit {{ totalPoints | number }} Punkten erreichst du {{ passing ? '' : 'nicht' }} die nötigen {{ selectedSubject.passingScore | number }} Punkte für die direkte Zulassung.
        </span>
        <span *ngIf="!passingBySubjects">
          Da du keine Note für {{ commaSep(missingClasses) }} eingetragen hast, wirst du an der zweiten Stufe des Eignungsfeststellungsverfahrens teilnehmen müssen.
        </span>
      </div>
    </div>
  </div>
</form>


  <ngb-alert type="info" *ngIf="infoMsgOpen" (close)="closeInfoMsg()">
  <strong>Achtung!</strong> 
  Die Technische Universität München ist auf keine Weise mit diesem Tool assoziiert. Jegliche Haftung ist ausgeschlossen. Alle Angaben erfolgen ohne Gewähr auf Vollständigkeit, Richtigkeit und Aktualität. Finde die aktuellen Satzungen über die Eignungsfeststellungen der jeweiligen Fakultäten auf <a href="https://tum.de" target="_blank">der Webseite der TUM</a>
  </ngb-alert>
